---
---

.new-logo {
  display: flex;
  flex-direction: row;
}

.new-title {
  display: flex;
  flex-direction: column;
}

.header-post .content {
  padding-top: 5rem;
  padding-bottom: 0;
}

.author{
  background:#f2f2f2;display:table;width:100%;padding:0.5rem 0;margin:0.5rem 0;
}

.post-content {
  padding-top: 10px!important;
}

.box-body {
  padding-bottom: 0.5rem!important;
}

// sidenav
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #f7f7f7;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #132e65;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  font-weight: 700;
  text-decoration: underline;
}

.sidenav-content {
  font-family: 'Open Sans', sans-serif;
  margin-top: 50px;
  font-size: 22px;
  list-style-type:none;
  padding-left: 0;
}

.new-content {
  margin-left: 160px;
}

.header-post{
  min-height:5rem;position:fixed;width:100%;
}

.post{
  position:relative;
  top:15rem;
  background:#fff
}

.date{
  font-family:'Open Sans',sans-serif;
  font-weight:300;font-style:normal;
  font-size:1rem;
  color: #707071;
}

.box-item .box-body time{font-size:.875rem;color:#707071}

.highlight {
  padding: 30px!important;
}
