---
layout: compress
comments: true
---

<html lang="en" itemscope itemtype="http://schema.org/WebPage" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-default.html %}
        <div class="sidenav sidenav-content">
            {% include left-categories.html %}
        </div>
                <div>
                    <section class="content new-content">
                        {{ content }}
                    </section>
                    </div>
        {% include footer.html %}
    </body>
</html>
